@{
    ViewData["Title"] = "Shopping Cart";
}
@model CartViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Shopping Cart</div>

                @if (Model is not null && Model.CartItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Product name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var product in Model.CartItems)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Price $ @(Model.HasDiscount ? $"(%{Model.DiscountRate} applied, {product.TotalPrice}$)" : "")</td>
                                <td>@product.Quantity</td>
                                <td><a asp-controller="Cart" asp-action="AddItemToCart" asp-route-productId="@product.ProductId" class="btn btn-primary"><i class="bi bi-plus"></i></a></td>
                                <td><a asp-controller="Cart" asp-action="RemoveCartItem" asp-route-productId="@product.ProductId" class="btn btn-danger"><i class="bi bi-dash"></i></a></td>
                            </tr>
                        }
                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Discount</td>
                                <td colspan="4">% @Model.DiscountRate.Value</td>
                            </tr>
                        }
                        <tr>
                            <td>Total price</td>
                            <th colspan="4">Discount applied: @Model.GetTotalPrice $ (@Model.GetTotalPrice $)</th>
                        </tr>
                    </table>

                    <form asp-controller="Cart" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" discount code applied
                            </div>
                            <a asp-controller="Cart" asp-action="CancelDiscount">(cancel)</a>
                        }
                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control">
                            <button class="btn btn-outline-secondary">Apply</button>
                        </div>
                        @if (TempData["discountstatus"] is not null && (bool)TempData["discountstatus"] is false)
                        {
                            <div class="text-danger">Discount code is expired or not correct (msg from index itshelf)</div>
                        }
                        @if (TempData["discountError"] is not null)
                        {
                            <div class="text-danger">@TempData["discountError"] (msg from controller)</div>
                        }
                    </form>
                    <a asp-controller="Order" asp-action="Checkout" class="btn btn-success">Checkout</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Coniniue shopping</a>
                }
                else
                {
                    <div class="alert alert-info">There are no items in cart</div>
                }
            </div>
        </div>
    </div>
</div>